.NavBar {
  position: fixed;
  left: 0;
  top: 0;
  width: 5%;
  height: 100%;
  overflow: auto;
  background-color: #90C7CB ;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.NavBar button {
  margin-bottom: 10px;
}

.logo {
  padding: 25%; /* Ajustez la taille selon vos besoins */
  height: auto;
  cursor: pointer;
  transition: transform 0.2s, filter 0.2s; /* Ajoutez des transitions pour une animation fluide */
}

.logo.clicked {
  transform: scale(1.1); 
  background-color: lightblue; 
}

.NavBar .logo:hover {
  background-color: lightblue;
}