.progress-bar-parent {
  width: 100%; /* Ensure the parent takes full width */
  height: 50px; /* Adjust the height as needed */
  position: fixed;
  bottom: 3%;
}

.progress-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 100%; /* Match the height of the parent */
  background-color: rgba(235, 226, 226, 0.63); /* Adjust the alpha value for transparency */
  border-radius: 25px; /* Rounded corners */
  padding: 10px; /* Adjust padding as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for better visual */
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0; /* Initially invisible */
  transition: opacity 0.3s; /* Smooth transition */
}

.progress-bar-parent:hover .progress-bar-container {
  opacity: 1; /* Visible on hover */
}

.pause-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.pause-button img {
  width: 30px;
  height: 30px;
}

.progress-bar-wrapper {
  width: 800px; /* Adjust width as needed */
  height: 10px; /* Adjust height as needed */
  background-color: #e0e0e0;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.max-time-label {
  margin-left: 10px;
  font-size: 12px;
  color: #000;
  background-color: rgba(255, 255, 255, 0);
  padding: 2px 5px;
  border-radius: 5px;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  width: 100%;
  margin: 0;
}

input[type="range"]:focus {
  outline: none;
}

#progress-track-container {
  position: absolute;
  overflow: hidden;
  width: 100%;
  border-radius: 25px;
  background: #e0e0e0;
  height: 0.6rem;
}

#progress-track::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 10px;
}

#progress-track::-moz-range-track {
  height: 10px;
}

#progress-track::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 1px;
  width: 1px;
}

#progress-track::-moz-range-thumb {
  border: none;
  height: 1px;
  width: 1px;
}

#progress-track::-webkit-slider-thumb {
  box-shadow: -600px 0 0 600px #007bff;
}

#progress-track::-moz-range-thumb {
  box-shadow: -600px 0 0 600px #007bff;
}

#progress-thumb,
#progress-label {
  position: relative;
  z-index: 1;
}

#progress-thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 13px;
  height: 13px;
  background-color: #007bff;
  border-radius: 50%;
  border: 1px solid #ffffff;
  transform: scale(1.5) translateY(-2px);
}

#progress-thumb::-moz-range-thumb {
  -moz-appearance: none;
  border: none;
  width: 13px;
  height: 13px;
  background-color: #007bff;
  border-radius: 50%;
  border: 1px solid #ffffff;
  transform: scale(1.5) translateY(-2px);
}

#progress-label::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 22px;
  height: 11px;
  transform: scale(3) translateY(-18px);
  background-image: var(--bg-image);
}

#progress-label::-moz-range-thumb {
  border: none;
  background-color: transparent;
  border-radius: 0;
  margin-top: 60px;
  width: 22px;
  height: 11px;
  transform: scale(3) translateY(-19px);
  background-image: var(--bg-image);
}
