.settings {
    border: 1px solid black; /* Ajoute un contour noir */
    position: fixed;
    top: 0;
    right: 0;
    width: 25%; /* Prend 1/4 de l'écran */
    height: 100vh; /* Prend toute la hauteur de l'écran */
    background: #fff; /* Mettez la couleur de fond que vous voulez */
    transform: translateX(100%); /* Déplace le composant hors de l'écran */
    transition: transform 0.3s ease-out; /* Ajoute une animation */
    overflow: auto; /* Ajoute une barre de défilement si nécessaire */
}

.settings.show {
    transform: translateX(0); /* Déplace le composant à sa position originale */
}